{% extends 'base2.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1> Order </h1>
            <div class="row">
                <h2> Your are ordering table at "{{ restaurant.title }}" restaurant! </h2>
            </div>
        </div>
    </div>

{% endblock %}