{% extends 'base2.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <h1> Your orders </h1>
                {% for order in orders %}
                    {{ order.start_time }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}